* {
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
:root {
  --header-bg-color: rgb(21, 32, 43);
  --header-hover-color: #2b4055;
  --header-text: #0066ff;
}
html {
  text-align: start;
  font-size: 1vw;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#root {
  display: flex;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
.main {
  display: flex;
  justify-content: center;
  z-index: 0;
  background: gainsboro;
  width: 100%;
  align-items: center;
}
