.list {
  width: 50rem;
  display: flex;
  height: 50rem;
  max-height: 80vh;
  background: gainsboro;
}

@media only screen and (max-width: 468px) {
  .list {
    width: 90rem;
    height: 90rem;
  }
}
@media only screen and (min-width: 1080px) {
  .list {
    width: 40rem;
    height: 40rem;
    max-height: 80vh;
  }
}
