.header {
  height: 100vh;
  min-width: 300px;
  width: 20rem;
  max-width: 20%;
  color: papayawhip;
  border-right: 2px solid lightblue;
  margin-left: 0;
  transition: 800ms;
  background: var(--header-bg-color);
}
.header.active {
  min-width: 0;
  width: 0;
  transition: 300ms;
  border: none;
}
.nav {
  font-size: calc(10px + 1rem);
}
.toggle__bar {
  padding: 1rem 0;
  position: relative;
  display: flex;
  justify-content: center;
}
.toggle__icon {
  border-radius: 25%;
  position: absolute;
  right: 1rem;
  font-size: calc(32px + 2rem);
}

.toggle__icon.disabled {
  top: 1rem;
  left: calc(-7rem - 200px);
  transition: 800ms;
}
.toggle__icon.active {
  z-index: 3;
  color: white;
  background: var(--header-bg-color);
  top: 1rem;
  left: 3rem;
  transition: 400ms;
}
.toggle__icon:hover {
  cursor: pointer;
  background: var(--header-hover-color);
  color: var(--header-text);
  transition: 300ms;
}
.nav ul h2 {
  height: 5em;
}
.nav ul {
  padding-right: 2rem;
}

.nav ul li {
  color: papayawhip;
  height: 10vh;
  white-space: nowrap;
  border-radius: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  transition: 300ms;
}
.nav ul li span {
  flex-grow: 0.5;
}
.nav ul li:hover {
  background-color: var(--header-hover-color);
  color: var(--header-text);
}
.nav ul li span {
  margin-left: 1.5rem;
  height: 1.5em;
}
